PROJECT_ID = "p00" # Unique identifier for the project
PROJECT_NAME = "project_name" # Descriptive name for the project (must be same as repository name)

PATH_INPUT = "./data" # Relative or absolute path to the directory that stores input file
FILE_NAME_INPUT = "" # Name of the input file

PATH_OUTPUT = "./results" # Relative or absolute path to the directory that will store a folder with all output files
FILE_NAME_OUTPUT = "" # Name of the main resulting file

PATH_LOGS = "./logs" # Relative or absolute path to the directory that will store log files

PARAMS_ID = "000" # Unique identifier for the set of parameters used in the run
PARAMS_NAME = "default" # Descriptive name for the set of parameters used in the run